/* Styles for the footer */

footer {
    position: relative;
    padding-top: 45px;
    min-height: 320px;
    background-image: linear-gradient($green-dark, $green-main 50%);

    .footer-section {
        margin-bottom: 30px;
    }

    p, ul, li, a, a:hover, h3, span {
        color: #fff;
    }

    p, ul, li, a, span {
        font-size: 13px;
    }

    h3 {
        font-size: 15px;
        font-weight: 700;
        margin-bottom: 20px;
    }

    ul {
        padding-left: 0;
    }

    li {
        list-style: none;
    }

    li, p {
        line-height: 2em;
    }

    .fa {
        width: 25px;
    }

    .social-links {
        margin-bottom: 90px;
        
        .fa {
            display: inline-block;
            background-color: $green-dark;
            height: 40px;
            width: 40px;
            margin-right: 2px;
            border-radius: 6px;
            font-size: 16px;
            text-align: center;
            vertical-align: bottom;
            padding-top: 12px;
            transition: background-color 0.4s;
        }

        .fa:hover {
            background-color: $sky-blue;
        }
    }

    .sub-footer {
        position: absolute;
        bottom: -1px;
        width: 100%;
        background-color: $green-dark;
        height: 60px;
        line-height: 60px;
        font-size: 13px;
    }
}