/* Custom styling of forms */

.expand-btn {
    font-weight: 900;
    font-size: 12px;
	text-transform: uppercase;
	letter-spacing: .075rem;
    cursor: pointer;
    position: relative;
    display: block;
    height: 45px;
    width: 360px;
    max-width: 100%;
    margin-bottom: 5px;
    color: #fff;
    transition: background-color 0.4s;
    border-bottom-left-radius: 12px;
    
    .btn-title {
        position: relative;
        top: 13px;
        left: 10px;
    }

    i.fa {
        display: none;
        position: absolute;
        right: 0;
        width: 45px;
        height: 45px;
        font-size: 19px;
        background-color: rgba(0, 0, 0, 0.1);
    }

    i.fa:before {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

#add-th-btn {
    background-color: $green-main;

    &:hover {
        background-color: $green-hover;
    }
}

#add-thl-btn {
    background-color: $sky-blue;

    &:hover {
        background-color: #1891bf;
    }
}

#add-sp-btn {
    background-color: $orange-main;

    &:hover {
        background-color: $orange-hover;       
    }
}

#add-sp-btn-2 {
    background-color: #fc7506;

    &:hover {
        background-color: #dd6503;       
    }
}

.collapse-content {
    padding: 10px;
    font-size: 13px;
    background-color: #f5f8fb;
    border-radius: 12px;
    margin-bottom: 5px;
    border: 1px solid #ddd;

    ul {
        padding-inline-start: 25px;
    }

    button {
        color: white;
        border: none;
        padding: 8px 12px;
        border-bottom-left-radius: 6px;
        background-color: #e85a5a;
        transition: background-color 0.4s;
        cursor: pointer;

        .fa-arrow-right {
            margin-left: 10px;
            transition: transform 0.4s;
        }

        &:hover {
            background-color: #e43c3c;

            .fa-arrow-right {
                transform: translateX(3px);
            }
        }  
    }
}

div.wpcf7 {
    margin: 0 auto;
    max-width: 450px;

    p {
        color: #666;
    }

    label {
        width: 100%;
        font-weight: 700;
        padding-top: 15px;
        color: #555;
        font-size: 15px !important;

        .wpcf7-form-control {
            margin-top: 15px;
        }

        .wpcf7-text,
        .wpcf7-select {
            height: 40px;
        }

        .wpcf7-text,
        .wpcf7-select,
        .wpcf7-date,
        .wpcf7-number {
            padding: 0 0 0 12px;
        }

        .wpcf7-textarea {
            padding: 12px;
        }

        .wpcf7-text,
        .wpcf7-textarea,
        .wpcf7-select,
        .wpcf7-date,
        .wpcf7-number {
            width: 100%;
            color: #666;
            border: 2px solid #ddd;
            border-radius: 2px; 
        }  
    }

    .wpcf7-form-control-signature-wrap {
        width: 100%;

        .wpcf7-form-control-signature-body {
            border: 2px solid #ddd;
            margin-bottom: 10px;
            border-radius: 2px;
        }
    }

    .wpcf7-list-item {
        display: block;
    }

    input[type=submit] {
        @include button();
    }

    span.ajax-loader {
        background-image: none;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: 40px;
        width: 40px;
        height: 40px;
        color: $green-main;
        text-align: center;
        margin-left: 12px;
        animation: fa-spin 1s infinite linear;
    }

    span.ajax-loader:before {
        content: "\f1ce";
    }
}

.um-field .um-col-alt .um-half {
	width: 100%;
}

.form-heading {
    @include dividerHeading();
    background-color: $green-main;
}

form.filter {
    .form-row {
        justify-content: center;
    }
    
    label {
        font-size: 13px;
        color: $grey;
        margin-bottom: 0.2rem;
    }

    button[type=submit] {
        background-color: $green-main;
        border-color: $green-main;
        width: 100%;

        &:hover {
            background-color: $green-hover;
            border-color: $green-hover;
        }
    }
}

#frontend-submit {
    background-color: #f5f8fb;
    border: 1px solid #ddd;
    padding: 1.2rem 1.2rem 2.4rem;
    border-radius: .25rem;
    font-size: 0.9rem;
    
    .form-control {
        font-size: 0.9rem;
    }
   
    h3 {
        font-size: 20px;
        color: #666;
        cursor: pointer;

        i {
            color: #bbb;
            margin-right: 0.8rem;
            width: 20px;
        }
    }

    .form-row>.col, .form-row>[class*=col-] {
        padding-right: 10px;
        padding-left: 10px;
    }

    .form-section {
        padding: 10px 0 40px;
    }

    label {
        margin-bottom: .4rem;
        font-size: 0.8rem;
        color: $grey;
    }

    input {
        margin-bottom: 0.6rem;
        max-width: 100%;
    }

    input[type=checkbox],
    input[type=radio] { 
        margin-left: 1rem;
    }

    .spinner-border {
        color: $green-main;
        margin: 1rem;
        display: none;
    }

    #form-spinner {
        margin: 0 0 -1rem 1rem;
    }

    img {
        display: none;
    }

    .img-additional {
        max-width: 70%;
        height: auto;
    }

    .package {
        cursor: pointer;
        border-radius: 6px;
        padding: 10px;
        margin-bottom: 1.5rem;

        ul {
            padding-inline-start: 10px;
            list-style: none;

            .fa {
                margin-right: 4px;
            }

            .fa-check-circle {
                color: $green-main;
            }

            .fa-times-circle {
                color: #e43c3c;
            }
        } 
    }

    .package-selected {
        background-color: #e2f1ff;
    }

    .btn-next {
        background-color: $orange-main;
        color: #fff;

        &:hover {
            background-color: $orange-hover;
        }
    }
}

#type-agri,
#type-equine {
    display: none;
}

.required {
    color: $light-red;
}

.btn-submit {
    color: #fff;
    background-color: $sky-blue;

    &:hover {
        color: #fff;
        background-color: $sky-blue-hover;
    }
}

.simpay-form-control {
	text-align: center;
}
