/* General site-wide element styling */

html, body {
    min-height: 100% !important;
    height: 100%;
}

body {
    margin-top: 110px;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul, li {
	font-family: $font;
	color: $grey-dark;
}

p {
    margin-bottom: 0.75rem;
}

::-webkit-scrollbar {
    width: 10px;
}
  
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
   
::-webkit-scrollbar-thumb {
    background: $green-main; 
}
  
::-webkit-scrollbar-thumb:hover {
    background: $green-hover; 
}

a {
    color: $green-main;
}

blockquote {
    border-left: 3px solid $sky-blue;
    padding-left: 10px;
}

.content-area {
    min-height: 70%;
    margin-top: 30px;
    margin-bottom: 50px;
}

.blue-divider {
	background-color: $sky-blue;
    height: 12px;
    margin-bottom: 12px;
}

.blue-divider:after {
    display: inline-block;
    content: '';
    position: relative;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 12px 25px 0 25px;
    border-color: $sky-blue transparent transparent transparent;
}

.border-grey {
    border: 1px solid #eee;
}

.divider-thin {
    display: block;
    width: 100%;
    height: 1px;
    background-color: #eee;
    margin: 10px 0;
}

.entry-summary {
    position: relative;
}

.entry-title {
	@include blockText(23px);
	letter-spacing: .15em;
    text-align: center;
    margin-bottom: 35px;
    padding: 5px 15px;
    color: $grey;
    z-index: 1;
}

.center-absolute {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.featured-img-wrapper {
    position: relative;
    max-height: 200px;
    overflow: hidden;

    img {
        width: 100%;
    }
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: $green-main;
    opacity: 0.5;
    z-index: 1;
}

.page-banner-wrap {
    position: relative;
    height: 110px;
    overflow: hidden;

    .overlay {
        background-color: #222;
        opacity: 0.6;
    }
    
    img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .entry-title {
        color: #fff;
        text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
        font-size: 1.5rem;
        letter-spacing: 0.4rem;
    }
}

.sub-ctg-wrap {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 20px 0;
    font-size: 13px;

    .fa {
        margin-right: 10px;
    }
}

.how-it-works-heading,
.useful-info-heading {
	@include dividerHeading();
}

.how-it-works-heading {
	background-color: $green-main;
}

.useful-info-heading {
	background-color: $orange-main;
}