/* Styles for the home page */

#home-carousel {
	height: 350px;
	background: #aaa;
	overflow: hidden;

	.carousel-header {
		width: 600px;
		max-width: 100%;
		position: absolute;
		top: 12%;
		left: 50%;
		transform: translate(-50%);
		padding-left: 15px;
		padding-right: 15px;
		z-index: 3;
	}

	.carousel-item {
		height: 100%;
		
		.bg-img {
			height: 100%;
			background-repeat: no-repeat;
			background-attachment: fixed;
			background-position: center top;
			background-size: cover;
			transform: scale(1.05);
			animation: kb-zoom 5s ease;
		}

		.carousel-message {
			width: 450px;
			max-width: 100%;
			position: absolute;
			top: 30%;
			left: 50%;
    		transform: translate(-50%);
			text-align: center;
			z-index: 2;
			padding-left: 15px;
			padding-right: 15px;
			
			p, a {
				color: white;
			}
	
			p {
				font-style: italic;
				margin-bottom: 30px;
				font-size: 16px;
			}
	
			a {
				@include blockText(14px);
				padding: 13px 16px;
				border-radius: 4px;
				transition: background-color 0.4s;
			}
		}
	}

	.carousel-item:nth-child(2) {
		.carousel-message {
			a {
				background-color: rgba(160, 44, 44, 0.5);

				&:hover {
					background-color: rgba(160, 44, 44, 0.7);
				}
			}
		}
	}

	.carousel-item:nth-child(3) {
		.carousel-message {
			a {
				background-color: rgba(252, 160, 6, 0.5);

				&:hover {
					background-color: rgba(252, 160, 6, 0.7);
				}
			}
		}
	}

	.carousel-item:nth-child(4) {
		.carousel-message {
			a {
				background-color: rgba(32, 122, 97, 0.6);

				&:hover {
					background-color: rgba(32, 122, 97, 0.8);
				}
			}
		}
	}

	.carousel-indicators {
		bottom: 30px;

		li {
			width: 12px;
			height: 12px;
			border-radius: 50%;
		}
	}

	.pointer-divider {
		position: absolute;
		width: 100%;
		bottom: 0;
		background: transparent;
		display: flex;
		z-index: 2;
	
		img {
			width: 50px;
			height: 25px;
		}
	
		div {
			display: inline-block;
			width: calc(50% - 12.5px);
			height: 25px;
			background: #fff;
		}
	}
}

@keyframes kb-zoom {
	from {
		transform: scale(1.0);
	}
	to {
		transform: scale(1.05);
	}
}

#services {
	padding-top: 15px;
	padding-bottom: 60px;

	.service {
		position: relative;
		overflow: hidden;
		cursor: pointer;
		margin-bottom: 30px;

		&:hover {
			.service-details-wrap {
				bottom: 100%;
				.fa-caret-up {
					transform: rotateZ(180deg);
				}
			}
		}

		.service-details-wrap {
			position: relative;
			width: 100%;
			height: 100%;
			bottom: 60px;
			border-top: 1px solid #fff;
			color: #fff;
			transition: all 0.4s ease;

			.service-details {
				width: 100%;
				position: absolute;
				top: 15px;
				text-align: center;

				.fa {
					position: relative;
					font-size: 20px;
				}

				.fa-caret-up {
					font-size: 16px;
					transition: transform 0.4s ease;
				}

				h3 {
					display: inline-block;
					font-size: 18px;
					font-weight: 700;
					padding: 0 8px;
					color: #fff;
				}

				span {
					display: block;
					position: relative;
					top: 15px;
					left: 50%;
					transform: translateX(-50%);
					width: 40px;
					height: 2px;
					background-color: #fff;
				}

				.service-desc {
					padding: 0 30px 20px 30px;
					margin-top: 25px;

					p {
						color: #fff;
						margin-bottom: 8px;
					}

					a {
						@include blockText(13px);
						padding: 7px 10px;
						border-radius: 4px;
						margin: 4px;
						line-height: 36px;
						white-space: nowrap;
						color: #fff;
						background-color: rgba(0, 0, 0, 0.3);
						transition: background-color 0.4s;

						&:hover {
							background-color: rgba(0, 0, 0, 0.5);
						}
					} 
				}
			}
		}
	}

	#service-1 {
		.service-details-wrap {
			background-color: rgba(155, 168, 164, 0.7);
		}
	}

	#service-2 {
		.service-details-wrap {
			background-color: rgba(32, 122, 97, 0.7);
		}
	}

	#service-3 {
		.service-details-wrap {
			background-color: rgba(160, 44, 44, 0.7);
		}
	}

	#service-4 {
		.service-details-wrap {
			// background-color: rgba(173, 119, 25, 0.6);
			background-color: rgba(40, 117, 183, 0.6);
		}
	}

	#service-5 {
		.service-details-wrap {
			background-color: rgba(155, 168, 164, 0.7);
		}
	}

	#service-6 {
		.service-details-wrap {
			background-color: rgba(32, 122, 97, 0.7);
		}
	}
	
}

#about-us {
	padding-top: 30px;
	padding-bottom: 120px;

	.entry-title {
		margin-top: 25px;
		margin-bottom: 60px;
	}

	p {
		margin-bottom: 2rem;
	}

	a {
		@include blockText(14px);
		padding: 10px 12px;
		border-radius: 4px;
		background-color: $orange-main;
		color: #fff;
		transition: background-color 0.4s;

		&:hover {
			background-color: $orange-hover;
			color: #fff;
		}

		.fa {
			margin-right: 6px;
		}
	}

	img {
		display: none;
		max-width: 380px;
	}
}

.banner-wrap {
	max-width: 100%;
	overflow: hidden;

	.home-page-banner {
		height: 100vh;
		animation: kb-zoom 10s ease;
		transform: scale(1.1);
		background-image: url('img/landing-page-horse-1-crop.jpg');

		.banner-overlay {
			top: 0px;
			left: 0px;
		}
	}
}

a:hover {
	text-decoration: none;
}

#key-features {
	background-color: $off-white;
	padding-bottom: 50px;

	h1 {
		width: 100%;
		margin-top: 50px;
		margin-bottom: 20px;
	}

	.key-feature {
		padding: 25px;
		background-color: #fff;
		border: 1px solid #ccc;
		line-height: 1.5em;
		margin-bottom: 30px;

		h3 {
			font-size: 16px;
			margin-bottom: 8px;
		}

		p {
			font-size: 14px;
		}

		.fa {
			font-size: 80px;
			color: #dadee4;
			margin-bottom: 20px;
		}

		.underline {
			position: relative;
			left: 17%;
			width: 66%;
			height: 4px;
			background-color: $green-main;   
			margin-bottom: 8px;
		}

	}

	#key-feature-2,
	#key-feature-7 {
		.underline {
			background-color: $orange-main;
		}
	}
	
	#key-feature-3,
	#key-feature-6 {
		.underline {
			background-color: $sky-blue;
		}
	}
	
	#key-feature-5 {
		.underline {
			background-color: #a02c2c;
		}
	}

	.custom-lg-offset {
		margin-left: 0;
	}
}

#sign-up-block {
	border-bottom: 1px solid #fff;
	color: #fff;
	overflow: hidden;

	.home-page-btn {
		background-color: rgba(252, 160, 6, 0.5);
		width: 150px;
		border-radius: 4px;
		font-size: 14px;

		i.fa {
			font-size: 18px;
			border-top-right-radius: 4px;
			border-bottom-right-radius: 4px;
		}

		i.fa:before {
			margin-left: 2px;
		}
	}
		
	.home-page-btn:hover {
		background-color: rgba(252, 160, 6, 0.7);
	}

	#sign-up-icon {
		display: none;
		border: 12px solid rgba(255, 255, 255, .4);
		height: 185px;
		width: 185px;
		border-radius: 50%;
		font-size: 80px;
		padding: 30px 0 0 10px;
		transition: all .4s;
		text-align: center;
	}

	#sign-up-icon:before {
		color: rgba(255, 255, 255, .4);
		transition: color .4s;
	}

	a:hover #sign-up-icon:before {
		color: rgba(255, 255, 255, .6);
	}

	a:hover #sign-up-icon {
		border: 12px solid rgba(255, 255, 255, .6);
	}

	p {
		color: #fff;
		font-size: 18px;
	}

	.bg-img {
		height: 400px;
		position: relative;
		background-image: url('img/landing-page-horse-2.jpg');

		.container {
			z-index: 3;
		}
	}
}




