/* Styles for the marketplace */

.mkt-search-container {
	font-size: 12px;
	
	.form-row {
		justify-content: center;
	}

    button {
        background-color: #50a8dc;
		border: none;
		width: 100%;

        &:hover {
            background-color: #2a92d0;
        }

        .fa-search {
            font-size: 15px;
        }
    }
}

.service-preview {
    margin: 0 0 1rem;
    display: flex;
    font-size: 0.75rem;
    border: 1px solid #eee;
    padding: 5px;

    .left-wrap {
        position: relative;
        display: inline-block;
        width: 60%;
        padding-top: 35%;
        overflow: hidden;
        cursor: default;

		&:hover {
			.left-content {
				top: 0;
				.fa-caret-up {
					transform: rotateZ(180deg);
				}
			}
		}

        img {
            position: absolute;
            top: 0;
            object-fit: cover;
            width: 100%;
            height: 100%;
        }

        .left-content {
            position: absolute;
            height: 100%;
            width: 100%;
            top: 75%;
            color: #fff;
            background-color: rgba(13, 64, 93, 0.5);
            text-align: center;
            padding-top: 8px;
            transition: all 0.4s ease;

            .service-heading-wrap {
                position: absolute;
                top: 0;
                width: 100%;
                height: 25%;

                .service-heading {
                    width: 100%;

                    h3 {
                        display: inline-block;
                        font-size: 0.75rem; 
                        padding: 0 4px;
                        color: #fff;
                        margin-bottom: 0;
                    }
        
                    .fa-caret-up {
                        transition: transform 0.4s ease;
                    }
                }
            }

            p {
                color: #fff;
                font-size: 9px;
                padding: 0 4px;
                position: relative;
                top: 20%;
            }

            .service-link-wrap {
                position: absolute;
                bottom: 0;
                width: 100%;
                height: 25%;
                background-color: rgba(0, 0, 0, 0.2);

                .service-link {
                    width: 100%;

                    a {
                        color: #fff;
    
                        .fa {
                            margin-right: 8px;
                        }
                    }
                }
            }
        }
    }

    .right-wrap {
        position: relative;
        width: 40%;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        cursor: default;

        .service-field-row {
            position: relative;
            flex-grow: 1;
            padding-left: 6px;

            &:hover {
                .service-field {
                    .show-on-hover {
                        opacity: 1;
                    }

                    .hide-on-hover {
                        opacity: 0;
                    }
                }
            }

            .service-field {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);

                .show-on-hover, .hide-on-hover {
                    position: absolute;
                    min-width: 100px;
                    transition: all 0.4s ease;
                }

                .show-on-hover {
                    opacity: 0;
                }

                .hide-on-hover {
                    opacity: 1;
                }

                .fa {
                    min-width: 15px;
                }

                a {
                    color: $grey-dark;
                    
                    .fa-external-link {
                        font-size: 10px;
                        margin-left: 3px;
                    }
                }
            }
        }

        .service-field-row:nth-child(odd) {
            background-color: #f9f9f9;
        }

        .service-field-row:nth-child(even) {
            background-color: #e9ecef;
        }

        .service-field-row:last-child {
            background-color: #50a8dc;
            color: #fff;
            cursor: pointer;
            transition: background-color 0.4s;

            &:hover {
                background-color: #2a92d0;
            }
        } 
    }
}

article.type-service {
    padding-bottom: 25px;

    .row {
        margin-bottom: 10px;
    }

    h1, h2, h3 {
        font-weight: 700;
    }

    h1 {
        font-size: 17px;
    }

    h2 {
        font-size: 16px;
    }

    h3 {
        font-size: 14px;
    }

    p {
        font-size: 14px;
    }
}

#service-header {
    .service-logo-wrap,
    .service-title-wrap {
        display: inline-block;
        vertical-align: top;
    }

    .service-logo-wrap {
        padding: 5px;
        max-width: 25%;

        img {
            width: 80px;
            max-width: 100%;
        }
    }

    .service-title-wrap {
        padding-left: 10px;

        h1 {
            margin-bottom: 0;
        }

        .service-location {
            font-size: 13px;
            color: #888;

            .fa {
                margin-right: 3px;
            }
        }
    }
}

#service-carousel {
    padding: 5px;

    .carousel-inner {
        img {
            height: 200px;
			object-fit: contain;
			background-color: #000;
        }
    }

    .service-video {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;

        .fa-youtube-play {
            color: rgba(255, 255, 255, 0.8);
            font-size: 80px;
            transition: color 0.4s;

            &:hover {
                color: rgba(255, 255, 255, 1);
            }
        }
	}
	
	.fa-chevron-left, .fa-chevron-right {
		font-size: 26px;
    	text-shadow: 0 2px 5px rgba(0, 0, 0, 0.8);
	}
}

#service-contact-box {
    margin: 10px 0 0 0;
    padding: 5px;

    .service-contact-wrap {
        padding: 0;
        text-align: center;

        .button-wrap {
            width: 50%;
            display: inline-block;

            button {
                width: 100%;
                padding: 6px 0;
                border: none;
                font-size: 15px;
                background-color: #50a8dc;
                color: #fff;
                transition: background-color 0.4s;
    
                &:hover {
                    background-color: #2a92d0;
                }

                .fa {
                    margin-right: 6px;
                }

                a {
                    color: white;
                }
            }
        }

        .button-wrap:first-child {
            button {
                border-right: 2px solid #fff;
            } 
        }

        .button-wrap:nth-child(2) {
            button {
                border-left: 2px solid #fff;
            } 
        }       
    }
}

.desc-heading-wrap {
    display: flex;
    margin-bottom: 15px;

    .fa {
        width: 40px;
        height: 40px;
        font-size: 18px;
        position: relative;
        background-color: #f5f5f5;
        border-radius: 50%;
        color: #888;
        border: 1px solid #ccc;

        &::before {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    h2, h3 {
        display: inline-block;
        margin: 10px;
    }
}

#service-links-box {
    margin: 10px 0 0 0;
    padding: 3px;

    .service-links-list {
        margin-bottom: 0;
        padding-inline-start: 0;
        list-style-type: none;
    
        a {
            font-size: 14px;
            display: inline-block;
            width: 50%;
            padding: 2px;
    
            li {
                display: inline-block;
                width: 100%;
                background-color: #50a8dc;
                color: #fff;
                padding: 4px;
                text-align: center;
                transition: background-color 0.4s;
    
                &:hover {
                    background-color: #2a92d0;
                }
            }
            
            .fa {
                margin-right: 6px;
            }
    
            .li-facebook {
                background-color: #4467b0;
    
                &:hover {
                    background-color: #3b5998;
                }
            }

            .li-instagram {
                background-color: #e54e81;
    
                &:hover {
                    background-color: #e1306c;
                }
            }

            .li-linkedin {
                background-color: #008dd7;
    
                &:hover {
                    background-color: #0077B5;
                }
            }
    
            .li-google-maps {
                background-color: #e26556;
    
                &:hover {
                    background-color: #dd4b39;
                }
            }
        }
    }
}

#service-categories-box {
    margin-top: 20px;

    .desc-heading-wrap {
        margin-bottom: 0;
    }

    p {
        margin-left: 50px;
    }
}

#service-categories-box,
#service-desc-box {
    padding: 10px;
}

.mkt-placeholders {
    padding: 5px;

    .plc-wrap {
        padding-left: 5px;
        padding-right: 5px;
        margin-bottom: 10px;
    }

    .plc-inner {
        border: 1px solid #ddd;
        padding: 5px;
    }

    a:hover {
        .plc-img {
            transform: scale(1.1);
        }

        .plc-view {
            opacity: 1;
            top: 42%;
        }

        .plc-title-wrap {
            background-color: rgba(61, 162, 222, 0.9);
        }
    }

    .plc-img-wrap {
        height: 110px;
        overflow: hidden;
        position: relative;
    }
    
    .plc-view {
        top: 60%;
        opacity: 0;
        font-size: 24px;
        color: #fff;
        text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
        transition: all 0.4s ease;

        &:hover {
            color: rgba(255, 255, 255, 1);
        }
    }
    
    .plc-img {
        width: 100%;
        height: 100%;
        background-size: cover;
        transition: all .4s ease;
    }
    
    .plc-title-wrap {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 35%;
        /* height: 25%; */
        background-color: rgba(19, 131, 197, 0.4);
        border-top: 1px solid #fff;
        transition: all 0.4s ease;
    }
    
    .plc-title {
        color: #fff;
        font-size: 12px;
        /* font-size: 16px; */
        //font-weight: 700;
        padding: 0 5px;
        width: 100%;
    }
}



