/* SCSS Mixins */

@mixin blockText($fontSize) {
	font-weight: 900;
	font-size: $fontSize;
	text-transform: uppercase;
	letter-spacing: .075rem;
}

@mixin button() {
	background-color: $sky-blue;
	color: #fff;
	width: 100%;
	max-width: 150px;
	margin-top: 20px;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

@mixin dividerHeading() {
	margin: 40px 0 20px 0;
	text-align: center;
	color: #fff;
	text-transform: uppercase;
	font-weight: 900;
	padding: 5px 12px;
	letter-spacing: .15em;
	font-size: 20px;
	border-radius: .25rem;
}

@mixin horseSummaryBtn( $color, $bgColor ) {
	display: inline-block;
	color: $color;
	background-color: $bgColor;
	border-radius: 3px;
	line-height: 1.75rem;
	margin-bottom: 15px;
	transition: all 0.4s;

	.fa {
		margin-right: 0.4em;
	}
}