/* Navigation styles */

.navbar {
	background-color: #fff;
	z-index: 100;
	padding-top: 20px;
	padding-bottom: 20px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
	transition: padding 0.4s;

	.navbar-collapse {
		padding-bottom: 20px;
	}

	li {
		margin-top: 20px;
		margin-left: 0.8rem;
		position: relative;
	}

	span {
		cursor: pointer;
	}

	a, span {
		font-family: $font;
		@include blockText(14px);
	}

	.fa:before {
		position: relative;
		display: inline-block;
    	width: 30px;
	}

	li.menu-item-has-children {
		cursor: pointer;

		> a:after {
			margin-left: 5px;
			font: normal normal normal 14px/1 FontAwesome;
			content: '\f0d7';
		}

		.sub-menu {
			display: none;
			position: relative;
			background-color: #fff;
			padding: 7px;
			list-style: none;
			z-index: 1000;

			.menu-item {
				margin: 3px 0 3px 18px;
				transition: all 0.4s;
				white-space: nowrap;

				a {
					display: inline-block;
					text-transform: unset;
					font-weight: 700;
					letter-spacing: unset;
					color: #888;
    				padding: 10px;
					transition: all 0.4s;
				}

				&:hover {
					background-color: $green-main;
					text-decoration: none;
					
					a {
						color: #fff;
					}
				}
				
				&:hover:after,
				&:focus:after,
				&:active:after {
					width: 0%;
					max-width: 0;
				}
			}
		}
	}
		
	a, span, .fa {
		color: $grey;
	}

	a:hover {
		text-decoration: none;
		background-color: transparent;
	}

	li:hover a,
	li:hover.fa,
	li:hover span {
		color: $green-main;
	}

	.icon-bar {
		width: 22px; 
		height: 2px;
		background-color: $grey;
		display: block;
		transition: all 0.4s;
		margin: 4px;
	}
	
	.navbar-toggler:focus {
		outline: none;
	}
	
	.navbar-toggler .top-bar {
		transform: rotate(45deg);
		transform-origin: 10% 10%;
	}
	   
	.navbar-toggler .middle-bar {
		opacity: 0;
	}
	   
	.navbar-toggler .bottom-bar {
		transform: rotate(-45deg);
		transform-origin: 10% 90%;
	}
	   
	.navbar-toggler.collapsed .top-bar {
		transform: rotate(0);
	}
	   
	.navbar-toggler.collapsed .middle-bar {
		opacity: 1;
	}
	   
	.navbar-toggler.collapsed .bottom-bar {
		transform: rotate(0);
	}
	
	#logo {
		display: none;
	}

	#logo-mobile {
		margin: 0 0 0 10px;

		img {
			width: 60px;
		}
	}
}

.breadcrumbs-wrapper {
	padding-top: 10px;
    padding-bottom: 10px;
	border-bottom: 1px solid #e1e1e1;
	
	.breadcrumbs {
		font-size: 12px;
	}
    
}

