/*
 * Bootstrap 4 breakpoints:
 * Extra small: <576px
 * Small:       ≥576px	
 * Medium:      ≥768px
 * Large:       ≥992px
 * Extra large: ≥1200px
 */ 

// Screens 360px and above
@media screen and (min-width: 360px) {
	#home-carousel {
		.carousel-item {
			.carousel-message {
				p {
					font-size: 18px;
				}
			}
		}
	}

	.breadcrumbs-wrapper {
		.breadcrumbs {
			font-size: 13px;
		}
	}

	.home-page-btn {
		font-size: 14px;

		span {
			top: 12px;
		}
	}

	.page-banner-wrap {
		height: 125px;
	}

	.service-preview {
		padding: 7px;

		.left-wrap {
			.left-content {
				p {
					top: 23%;
					padding: 0 6px;
				}
			}
		}
	}

	.mkt-search-container {
		font-size: 13px;
	}

	.expand-btn {
		font-size: 13px;

		.btn-title {
			left: 13px;
		}
	}

	.collapse-content {
		padding: 15px;
		font-size: 14px;
	}

	#horseform {
		font-size: 15px;
	}

	.mkt-placeholders {
		.plc-img-wrap {
			height: 120px;
		}
		
		.plc-title {
			font-size: 13px;
			font-weight: 700;
			padding: 0 10px;
		}
	}
}

// Screens 410px and above
@media screen and (min-width: 410px) {
	#service-contact-box {
		.service-contact-wrap {
			.button-wrap {
				button {
					padding: 7px 0;
					font-size: 16px;
				}
			}	
		}
	}
}

// Screens 440px and above
@media screen and (min-width: 440px) {
	#home-carousel {
		.carousel-item {
			.carousel-message {
				top: 35%;
			}
		}
	}

	.mkt-search-container {
		font-size: 14px;
	}

	.service-preview {
		font-size: 0.8rem;
		padding: 10px;

		.left-wrap {
			.left-content {
				.service-heading-wrap {
					.service-heading {
						h3 {
							font-size: 0.8rem;
						}
					}
				}
	
				p {
					font-size: 10px;
					top: 25%;
				}
	
				.service-link-wrap {
					.service-link {
						a {
							.fa {
								margin-right: 8px;
							}
						}
					}
				}
			}
		}
	
		.right-wrap {
			.service-field-row {
				padding-left: 8px;
	
				.service-field {
					.fa {
						min-width: 16px;
					}
	
					a {
						.fa-external-link {
							font-size: 11px;
							margin-left: 4px;
						}
					}
				}
			}
		}
	}

	article.type-service {
		padding-bottom: 30px;
	
		h1 {
			font-size: 20px;
		}
	
		h2 {
			font-size: 18px;
		}

		h3 {
			font-size: 16px;
		}
	}

	.service-logo-wrap {
		padding: 10px;
	}

	#service-header {
		.service-title-wrap {
			.service-location {
				font-size: 14px;

				.fa {
					margin-right: 4px;
				}
			}
		}
	}

	#service-carousel {
		.carousel-inner {
	
			img {
				height: 250px;
			}
		}
	}

	#service-desc-box {
		padding: 20px;

		.desc-heading-wrap h2 {
			margin-top: 9px;
		}
	}

	.expand-btn {
		font-size: 14px;

		.btn-title {
			top: 11px;
			left: 18px;
		}

		i.fa {
			display: inline-block;
			font-size: 16px;
		}
	}

	#horseform {
		font-size: 16px;

		.nav-link {
			padding: 8px 12px;
		}
	}

	.mkt-placeholders {
		.plc-img-wrap {
			height: 150px;
		}
		
		.plc-title {
			font-size: 14px;
		}
	}
}

// Screens 576px and above
@media screen and (min-width: 576px) {

	#search-overlay {
		.overlay-content {
			font-size: 18px;    
		}
	}

	.search-results-h1 {
		font-size: 25px;
		margin-bottom: 40px;
	}

	#home-carousel {
		height: 420px;
		.carousel-item {
			.carousel-message {
				top: 40%;
			}
		}
	}

	.woocommerce ul.products[class*=columns-] li.product {
		width: 48%;
	}

	.woocommerce-ordering {
		float: right !important;
	}

	.page-banner-wrap {
		height: 150px;
	}

	#service-contact-box {
		.service-contact-wrap {
			.button-wrap {
				button {
					padding: 10px 0;
				}
			}
		}
	}

	.collapse-content {
		padding: 30px;
		font-size: 16px;

		ul {
			padding-inline-start: 30px;
		}
	}

	.mkt-placeholders {
		.plc-img-wrap {
			height: 160px;
		}
		
		.plc-title {
			font-size: 15px;
		}

		.plc-title-wrap {
			height: 30%;
		}
	}
}

// Screens 768px and above
@media screen and (min-width: 768px) {
	#home-carousel {
		height: 500px;
		.carousel-header {
			top: 15%;
			padding: 0;
		}	
	}

	#services {
		.service {
			.service-details-wrap {
				.service-details {
					h3 {
						font-size: 20px;
					}
				}
			}
		}
	}

	#about-us {
		p {
			padding-right: 1rem;
		}
		img {
			display: block;
		}
	}

	.banner-content {
		top: 55%;
	}

	#key-features {    
		.key-feature {
			padding: 35px 20px;
			background-color: #fff;
			border: 1px solid #ccc;
			line-height: 1.5em;
			margin-bottom: 40px;
			min-height: 395px;
		}
	}

	#search-overlay {
		.overlay-content {
			font-size: 22px;
	
			#quick-searches {
				font-size: 18px;                
			}      
		}
	}

	.quick-search-link {
		padding: 2px 14px;
	}

	.woocommerce ul.products[class*=columns-] li.product {
		width: 46%;
	}

	.auction-history-table {
		th, td {
			padding-right: 3em;
		}
	}

	.page-banner-wrap {
		height: 180px;
		 
		.entry-title {
			font-size: 1.8rem;
			letter-spacing: 0.45rem;
		}
	}

	#service-carousel {
		.carousel-inner {
			img {
				height: 400px;
			}
		}
	}

	.mkt-placeholders {
		padding: 0;
		margin-top: 15px;
		margin-bottom: 2rem;

		.plc-wrap {
			padding-left: 10px;
			padding-right: 10px;
			margin-bottom: 20px;
		}
	}
}

// Screens 992px and above
@media screen and (min-width: 992px) {

	.banner-wrap {
		.home-page-banner {
			background-image: url('img/landing-page-horse-1-lg.jpg');
		}
	}

	#sign-up-block {
		.bg-img {
			background-image: url('img/landing-page-horse-2-lg.jpg');
		}
		#sign-up-icon {
			display: block;
		}
	}

	#key-features {
		.custom-lg-offset {
			margin-left: 12.5%;
		}
	}

	#search-overlay {
		.overlay-content {
			font-size: 26px;
			
			form {
				button {
					padding-right: 18px;
					padding-left: 18px;
				}
			}
		}
	}

	.woocommerce ul.products[class*=columns-] li.product {
		width: 30.75%;
	}

	.service-preview {
		margin: 1rem;
		font-size: 1rem;
	
		.left-wrap {
			.left-content {
				.service-heading-wrap {
					.service-heading {
						h3 {
							font-size: 1rem;
							padding: 0 8px;
						}
					}
				}
	
				p {
					font-size: 12px;
					top: 25%;
					padding: 0 2rem;
				}
	
				.service-link-wrap {
					.service-link {
						a {
							.fa {
								margin-right: 8px;
							}
						}
					}
				}
			}
		}
	
		.right-wrap {
			.service-field-row {
				padding-left: 12px;
	
				.service-field {
					.fa {
						min-width: 20px;
					}
	
					a {
						.fa-external-link {
							font-size: 12px;
						}
					}
				}
			}
		}
	}
	
	.mkt-search-container {
		font-size: 16px;
	}

	#service-header {
		.service-logo-wrap {
			img {
				width: 90px;
			}
		}
	}

	#service-carousel {
		.carousel-inner {
			img {
				height: 350px;
			}
		}
	}

	#service-contact-box {
		margin-top: 0;

		.service-contact-wrap {
			.button-wrap {
				button {
					padding: 6px 0;
					font-size: 15px;
				}
			}
		}
	}
}

// Screens 1200px and above
@media screen and (min-width: 1200px) {

	body {
		margin-top: 95px;
	}

	.navbar {

		.navbar-collapse {
			padding-bottom: 0;
		}

		#logo {
			display: block;

			img {
				height: 48px;
			}
		}

		#logo-mobile {
			display: none;
		}

		#desktop-search {
			display: block;
		}
	
		#mobile-search {
			display: none;
		}

		li {
			margin-top: 0;
		}

		.fa:before {
			width: unset;
			margin-right: 4px;
			display: none;
		}

		.fa-search:before {
			display: inline-block;
		}

		li:after {
			position: absolute;
			left: 0;
			bottom: -5px;
			content: '';
			height: 2px;
			background-color: $green-main;
			width: 0;
			transition: width 0.4s;
		}
	
		li:hover:after,
		li:focus:after,
		li:active:after {
			width: 100%;
			max-width: 150px;
		}

		li.menu-item-has-children {
			.sub-menu {
				position: absolute;
				border-radius: 4px;
				box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
				margin-top: 15px;
	
				.menu-item {
					margin: 0;
				}
			}
		}
	}

	.breadcrumbs-wrapper {
		padding-top: 15px;  
	}

	.banner-content {
		top: 50%;

		#logo-text-tagline {
			display: block;
			margin-top: 45px;
		}

		#text-tagline {
			display: none;
		}
	}

	#search-overlay {
		.overlay-content {
			font-size: 32px;      
		}
	}

	.page-banner-wrap {
		.entry-title {
			white-space: nowrap;
		}
	}
	
	.service-preview {
		margin: 0 0 2.5rem;

		.left-wrap {
			.left-content {
				.service-heading-wrap {
					.service-heading {
						h3 {
							font-size: 1.1rem;
						}
					}
				}
			}
		}
	}

	#service-carousel {
		.carousel-inner {
			img {
				height: 450px;
			}
		}
	}

	.mkt-placeholders {
		.plc-img-wrap {
			height: 190px;
		}
		
		.plc-title {
			font-size: 16px;
		}

		.plc-title-wrap {
			height: 25%;
		}
	}
	
}