/* Full-screen search styling */

#mobile-search {
    font-size: 25px;
    margin-left: 10px;
}

#desktop-search {
    display: none;
}

#search-overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 110;
    top: 100%;
    left: 0;
    background-color: rgba(0, 0, 0, 0.87);
    transition: top 0.4s;

    .overlay-content {
        position: relative;
        top: 2%;
        text-align: center;
        margin: auto;

        #close-search {
            font-size: 40px;
            color: rgba(255,255,255, 0.6);
            cursor: pointer;
        }

        #quick-searches {

            p {
                margin: 20px 0 10px 0;
                color: $green-main;
            }

            .quick-search-link:hover {
                border-color: rgba(255, 255, 255, 0.8);
                background-color: transparent;
            
                a {
                    color: rgba(255, 255, 255, 0.8);
                }
            }
        }

        form {
            margin-top: 8%;
            margin-bottom: 40px;

            button,
            input[type=search] {
                color: rgba(255, 255, 255, 0.8);
                padding: 10px 12px;
            }
        
            button {
                background-color: $green-trans;
                border: 2px solid $green-trans;
                cursor: pointer;
            }
            
            input[type=search] {
                background-color: transparent;
                border: 2px solid rgba(255, 255, 255, 0.6);
            }
        
            input[type=search]:focus {
                outline: none;
                border-color: rgba(255, 255, 255, 0.8);
            }
        }   
        
    }   
}

.quick-search-link {
    display: inline-block;
    border: 1px solid $green-main;
    transition: all 0.4s;
    padding: 2px 8px;
    margin: 2px;

    a {
        color: $green-main; 
        transition: all 0.4s;
    }
}

.quick-search-link:hover {
    background-color: $green-main;

    a {
        color: #fff;
    }
}

.search-results-h1 {
    font-size: 22px;
    font-style: italic;
    color: #888;
    margin-bottom: 30px;
    font-weight: 400;

    .fa {
        margin-right: 15px;
    }
}
