/* Customisations of the user areas */

.um-row-heading {
    background-color: $off-white;
    padding: 20px !important;
    border-radius: 10px !important;
}

.um-profile {
    .um-row {
        margin-left: 25px !important;
    }
}

p.um-notice.success {
    background-color: $green-main !important;
}

.um-header {
    border-bottom: none !important;
}

.um-field {
    margin-top: 15px;
}

.um-field-block {
    font-size: 15px !important;
}

.um-profile-edit {
    .um-dropdown-arr {
        top: -21px !important;
    }
}

.um-account {
    .um-field-first_name,
    .um-field-last_name {
        display: none;
    }
}
