/* Woocommerce & Simple Auctions Styling Overrides */

.woocommerce-message,
.woocommerce-info {
    border-top-color: $green-main;
}

.woocommerce-message:before,
.woocommerce-info:before {
    color: $green-main;
}

.woocommerce-loop-product__title {
    font-size: 1rem;
    margin: 0;
    padding: .5em 0;
}

.price {
    font-size: .857em;

    .auction-price {
        color: $grey-dark;
        font-weight: 700;
    }

    .amount {
        color: $orange-main;
    }
}

.excerpt {
    font-size: .857em;
}

.time-left {
    font-size: .857em;
    font-weight: 700;
}

.read-more {
    margin-left: 3px;
    white-space: nowrap;
}

.time-left:hover {
    color: $green-main !important;
}

.countdown_amount {
    font-weight: 900;
    color: $green-main;
    font-size: 1.25em !important;
}

.woocommerce ul.products[class*=columns-] li.product {
    width: 100%;
}

.products {
    li,
    .entry-summary {
        padding: 0.8rem !important;
        border: 1px solid #ddd;
    }

    .entry-summary {
        margin-bottom: 30px;
    }

    .hasCountdown {
        padding: 0 !important;
    }

    .countdown_amount {
        font-size: .857em !important;
    }

    .button {
        margin-top: 0.5em !important;
        border-radius: 0 !important;
    }

    a:hover {
        color: $green-main;
    }

    .product {
        overflow: hidden;
    }

    img {
        margin-bottom: 10px !important;
        transition: all 0.4s;
    }

    img:hover {
        transform: scale(1.025);
    }
}

.single-product {
    font-size: 0.9rem;

    .bid_button {
        background-color: $orange-main !important;
    }

    .bid_button:hover {
        background-color: $orange-hover !important;
    }

    .plus, .minus {
        background-color: $sky-blue;
        color: #fff;
        width: 36px;
        border: none;
        font-weight: 700;
    }

    .bid_button, .plus, .minus, .input-text.qty {
        height: 36px;
        border-radius: 3px;
    }

    .input-text.qty {
        border: 1px solid #ccc;
        width: 100px;
        padding: 0;
    }

    p.wsawl-link {
        display: inline;
        border: 1px solid $green-main;
        padding: 6px;
        border-radius: 3px;
        margin-right: 4px;
        transition: all 0.4s;
        line-height: 2rem;

        .share-horse {
            cursor: pointer;
            color: $green-main;
        }
    
        .request-viewing:before,
        .share-horse:before {
            font-family: "dashicons";
        }
    
        .request-viewing:before {
            content: "\f231";
            font-size: 1rem;
            margin-right: 0.4em;
        }
    
        .share-horse:before {
            content: "\f103";
            margin-right: 0.2em;
        }
    }

    #shareable-link {
        position: fixed;
        top: -100%;
        left: -100%;
    }

    p.wsawl-link:hover {
        background-color: $green-main;

        a {
            color: #fff;
        }
    }

    .posted_in {
        display: block;
        margin-top: 1rem;
    }
    
    .buy-now {
        button.single_add_to_cart_button {
            margin-top: 2rem;
            background-color: $orange-main;
        }
    
        button.single_add_to_cart_button:hover {
            background-color: $orange-hover;
        }
    }
}

.wc-proceed-to-checkout {
    a.checkout-button.button.alt {
        background-color: $sky-blue;
    }
}

.checkout {

    #customer_details {
        margin-bottom: 60px;

        .woocommerce-input-wrapper {
            width: 100%;
    
            input,
            textarea {
                border: 2px solid #ddd;
            }
    
            input {
                height: 40px;
                padding: 0 0 0 12px;
            }
    
            textarea {
                padding: 12px;
            }
        }
    }
    
    #order_review_heading {
        display: none;
    }
    #place_order {
        background-color: $sky-blue;
    }
}

.woocommerce-order {
    h2, h3 {
        font-size: 1rem;
    }
}

form.cart,
.winning,
.auction-bage,
.auction-bid,
.auction-condition,
.woocommerce-Tabs-panel h2,
.products .product_type_simple.add_to_cart_button {
    display: none;
}

.product-type-auction form.cart {
    display: block;
}

.flex-control-thumbs {
    li {
        padding: 4px 5px 0 0;
    }
}

.checkout {
    .col-1, .col-2 {
        max-width: unset;
        flex: unset;
    }
}

.woocommerce-ordering {
    float: left !important;
}

.sold-status {
    position: absolute;
    top: 0;
    right: 0;
    background: #E52634;
    color: #fff;
    font-weight: 900;
    padding: 1px 13px;
    letter-spacing: 0.05em;
    border-bottom-left-radius: 7px;
}

#more-text {
    padding-bottom: 15px;
}

#more-text-btn {
    @include horseSummaryBtn($green-main, transparent);
    cursor: pointer;
    border: 1px solid $green-main;
    padding: 0 6px;
    margin-right: 5px;
    
    .fa {
        margin-right: 0.4em;
    }

    &:hover {
        background-color: $green-main;
        color: #fff;
    }
    
    &:focus {
        outline: none;
    }
}

.video-link {
    @include horseSummaryBtn(#fff, $orange-main);
    padding: 1px 6px;

    .fa {
        margin-right: 0.4em;
    }

    &:hover {
        color: #fff;
        background-color: $orange-hover;
    }
}

.auction-history-table {
    th, td {
        padding-right: 1.5em;
    }

    th:nth-child(4) {
        display: none;
    }
}
