/* WP Admin Styles */

.um-admin-notice.error {
    display: none !important;
}

.horsesales-fields {
    .form-group {
        display: block;
        margin: 15px 0;
    }

    label {
        display: block;
        margin: 10px 0;
    }

    textarea {
        width: 100%;
    }

    input[type="url"],
    input[type="text"] {
        width: 100%;
        max-width: 350px;
        margin-bottom: 12px;
    }
}

.service-fields {
    .form-group {
        display: flex;
        flex-wrap:  wrap;
        align-items: center;
        font-size: 13px;
        padding: 12px;
        border-bottom: 1px solid #eee;
        min-height: 50px;

        .dashicons {
            font-size: 14px;
            display: flex;
            align-items: center;
        }

        label {
            min-width: 120px;
            margin-right: 15px;
            padding: 5px;
        }

        input {
            width: 400px;
            max-width: 100%;
        }

        button {
            margin-left: 5px;
        }
    }

    .form-group:last-child {
        border-bottom: none;
    }
}