/*!
Theme Name: Horsesales
Theme URI: https://www.horsesales.ie
Author: David Matthew
Description: A custom theme for horsesales.ie
Version: 1.9.0
Text Domain: horsesales
*/

/* Variables */
$green-main: #207A61;
$green-hover: #1B6450;
$green-dark: #1A6851;
$green-trans: rgba(32, 122, 97, 0.45);
$orange-main: #FCA006;
$orange-hover: #CF8305;
$off-white: #f9f9f9;
$grey: #888;
$grey-dark: #555;
$grey-blue: #5B6E8C;
$sky-blue: #1CA8DD;
$sky-blue-hover: #1891bf;
$light-red: #ea7575;
$font: 'Lato', sans-serif;

@import 'mixins';
@import 'general';
@import 'nav';
@import 'search';
@import 'home';
@import 'marketplace';
@import 'footer';
@import 'users';
@import 'woocommerce';
@import 'forms';
@import 'ads';
@import 'responsive';
